@font-face {
  font-family: HelveticaNue;
  src: url("fonts/HelveticaNeue-Thin.otf") format("opentype");
}
@font-face {
  font-family: Roboto;
  font-weight: Light;
  src: url("fonts/Roboto-Light.ttf")
}

.bkg{
  margin: 0px;
  background-color: #2E3440;
  background-attachment: fixed;
}

/* DIVS */
#container-messages {
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 2%;
  padding-bottom: 2%;

  border-radius: 1em;
  
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 1.25%;
  background: #3B4252;
  width: 90%;
  height: 60%;
  overflow: hidden;
}

#container-input {
  height: 10%;
  width: 60%;

  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-left: 1%;
  padding-right: 1%;

  padding-top: 2%;

  border-radius: 1em;

  float: left;
  background: #3B4252;
}

#input {
  width: 80%;
  height: 65%;
  vertical-align: middle;
  padding-left: 2%;

  border: 0px;
  border-radius: 1em;
  background: #4C566A;
  color: #ECEFF4;
}

form {
  height: 100%;
  padding: 0px;
  margin: 0px;
  
}

/* TEXT */
h1 {
  display: inline-block;
  width:50%;
  font-family: "HelveticaNue";
  font-size: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: left;
  
  margin-left: 3%;
  margin-right: 5%;
  margin-top: 0px;
  margin-bottom: 0px;

  background: -webkit-linear-gradient(45deg,#88C0D0, #A3BE8C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: "Roboto";
  font-size: 1em;
  text-align: left;
  font-weight: light;

  color: #D8DEE9;

  line-height: 100%;
}

#messages {
  font-family: "Roboto";
  font-size: 1em;
  text-align: left;
  line-height: 150%;
  padding: 0px;
  margin: 0px;

  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */

  color: #ECEFF4;
  list-style-type: none;
}

#alert {
  @extend #messages;

  color: #D8DEE9;
}
